body {
/*	font-family: 'Raleway', sans-serif;
*/
	font-family: 'raleway', sans-serif;

	font-size: 22px;
	font-weight: 400;
	line-height: 2em;
	letter-spacing: .02em;
	background-color: #f5f3f3;
	word-spacing: 0px;

}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

#body-content {
	padding-top: 5vh;
}
